
<section id="title">
    <div class="content-container">
        <h1>Homepage</h1>
    </div>
</section>

<section id="text">
    <div class="content-container">
        <div class="grid-columns left">
            <p>Anim velit eiusmod exercitation, dolore non commodo chicken pork chop short loin picanha drumstick ut pork loin pork belly. Id corned beef jowl, laboris laborum in esse pig. Filet mignon ut bresaola, magna consequat sed ullamco hamburger culpa et irure pork ham hock shoulder. Pancetta doner hamburger, commodo incididunt pork porchetta culpa veniam. Velit nulla fugiat qui, in strip steak leberkas ut minim nostrud short ribs ut dolore. Labore et boudin pork loin capicola tongue chicken eiusmod porchetta cillum pancetta officia ut adipisicing.</p>
        </div>
        <div class="grid-columns right">
            <p>Anim velit eiusmod exercitation, dolore non commodo chicken pork chop short loin picanha drumstick ut pork loin pork belly. Id corned beef jowl, laboris laborum in esse pig. Filet mignon ut bresaola, magna consequat sed ullamco hamburger culpa et irure pork ham hock shoulder. Pancetta doner hamburger, commodo incididunt pork porchetta culpa veniam. Velit nulla fugiat qui, in strip steak leberkas ut minim nostrud short ribs ut dolore. Labore et boudin pork loin capicola tongue chicken eiusmod porchetta cillum pancetta officia ut adipisicing.</p>
        </div>
    </div>
</section>

<section id="boxes">
    <div class="content-container">
        <div class="box"></div>
        <div class="box"></div>
        <div class="box"></div>
        <div class="box"></div>
    </div>
</section>

<!-- <section id="boxes-nested">
    <div class="content-container">
        <div class="content">
            <div class="box"></div>
        </div>
        <div class="sidebar">
            <div class="box"></div>
            <div class="box"></div>
            <div class="box"></div>
            <div class="box"></div>
        </div>
    </div>
</section> -->

<section id="boxes-full-width">
    <div class="box"></div>
    <div class="box"></div>
    <div class="box"></div>
    <div class="box"></div>
</section>
