/* ----------------------------------------------------
 Colors
---------------------------------------------------- */

$white: #fff;
$light_grey: #f5f5f5;
$grey: #323840;
$light_blue: #00bcdd;

/* ----------------------------------------------------
 Containers & Media Queries
---------------------------------------------------- */

// Containers & Media Queries
$max_width: 1200px;
$tablet_width: 768px;

$desktop_header_height: 80px;
$mobile_header_height: 50px;

/* ----------------------------------------------------
 Custom Grids (media queries are min-width)
 NOTE: Grids are designed with a mobile first approach
---------------------------------------------------- */

$mobile_small_on_up: (
  columns: 12,
  gutter: 20px,
  media: 320px,
);

$mobile_large_on_up: (
  columns: 12,
  gutter: 20px,
  media: 480px,
);

$tablet_on_up: (
  columns: 12,
  gutter: 20px,
  media: 768px,
);

$desktop_on_up: (
  columns: 12,
  gutter: 20px,
  media: 1024px,
);
